@mixin flex-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin cta {
    font-size: 0.9rem;
    width: 220px;
    background-color: $color-primary;
    border: none;
    color: white;

    &:hover {
        background-color: $color-secondary;
    }
}